/* Create a dark background. */
body {
	background: #000;
	margin: 0;
}

/* Fit the canvas to the page width. */
#fireworks-canvas {
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
}

#char-canvas {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
}